* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000a20;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}

.header {
    width: 100%;
    padding: 20px;
    background: #a52a2a;
    text-align: center;
}

.header>h1 {
    color: #fff;
    /* line-height: 100px; es una forma de centrar verticalmente */
    letter-spacing: 5px;
}


/*SCORE BOARD*/

.score-board {
    position: relative;
    width: 350px;
    height: 150px;
    margin: 30px auto;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 18px 2px rgb(165 42 42);
}

.score-board .badge {
    width: 110px;
    height: auto;
    padding: 4px 6px;
    text-align: center;
    background: #d51919;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 4px;
}

.badge-user {
    position: absolute;
    top: calc(50% - 10px);
    left: -55px;
}

.badge-computer {
    position: absolute;
    top: calc(50% - 10px);
    right: -55px;
}

.table-score {
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 4px;
}

.result p {
    text-align: center;
    color: #FFf;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


/*CHOISES*/

.choises {
    display: flex;
    justify-content: center;
}

.choises>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 16px;
    background: linear-gradient(29deg, rgba(165, 42, 42, 1) 21%, rgba(0, 0, 0, 1) 95%);
    /* transition: all 0.3s ease; */
}

.choises>div:hover {
    bottom: 12px;
    cursor: pointer;
    background: linear-gradient(29deg, rgb(57 56 100) 21%, rgba(0, 0, 0, 1) 95%);
}

.message-move {
    text-align: center;
    margin-top: 26px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.btn-reset {
    padding: 12px 30px;
    background: rgb(78 76 137);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-reset:hover {
    background: rgb(47 46 90)
}

.win {
    color: #05fa05;
}

.lose {
    color: #b00f0f;
}

.choises-board {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.choises-board>div {
    width: 120px;
    text-align: center;
    color: #fff;
}

.board-tittle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.board-choise {
    color: #9694d3;
    letter-spacing: 1px;
    font-weight: 500;
}


/* @media (max-width:480px) {
    .choises {
        flex-wrap: wrap;
    }
    .choises>div {
        width: 110px;
        height: 110px;
    }
    .score-board {
        width: 220px;
    }
    .score-board .badge {
        font-size: 12px;
        width: 76px;
    }
    .table-score {
        font-size: 40px;
    }
    .badge-user {
        left: -40px;
    }
    .badge-computer {
        right: -40px;
    }
} */